/********** Template CSS **********/
:root {
    --primary: #16eb92;
    --secondary: #191C24;
    --light: #6C7293;
    --dark: #000000;
}
body{
    scrollbar-width: thin;
    scrollbar-color: var(--primary) var(--secondary);
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}

/* Estilos para el contenedor de filtros y búsqueda */
#filterContainer {
    margin-bottom: 20px;
}

/* Estilos para las etiquetas de selección de criterio */
#filterCriteriaRevisionLabel, #filterCriteriaAprobacionLabel, #filterCriteriaDenegarLabel {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #164400; /* Color de texto */
}

/* Estilos para los selectores de criterio */
#filterCriteriaRevision, #filterCriteriaAprobacion, #filterCriteriaDenegar {
    width: 25%;
    padding: 0.4%;
    margin-bottom: 10px;
    border: 1px solid rgb(0, 252, 113);
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #007531; /* Color de fondo */
    color: #ffffff; /* Color de texto */
}

/* Estilos para los campos de búsqueda */
#searchInputRevision, #searchInputAprobacion, #searchInputDenegar {
    width: 30%;
    padding: 0.5%;
    margin-bottom: 10px;
    border: 1px solid #0f3124;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #14221c; /* Color de fondo */
    color: #bdffff; /* Color de texto */
}

/* Estilos para el placeholder del campo de búsqueda */
#searchInputRevision::placeholder, #searchInputAprobacion::placeholder, #searchInputDenegar::placeholder{
    color: #999; /* Color del placeholder */
}


.btn-primary {
    border: 3px solid #0aaa67;
    background-color: #118856;
    border-color: #16eb92;
}

.btn-primary:hover {
    background-color: transparent;
    border-color: #0aaa67;
}
.btn-danger {
    border: 3px solid #eb1616;
    border-radius: 5px ;
    background-color: transparent;
    border-color: #b10909;
    color: #ff7d7d;
  
}
/*Estilos para resaltar las celdas de una tabla*/
.table {
    border: 3px solid #000a0a; /* Borde de la tabla */
}

.table th{
    background-color: #252a3b;
}

.table tr:hover {
    background-color: #0f1f1a; /* Fondo de las celdas de datos */
}

.table th:hover {
    background-color: #1c3a30; /* Fondo de las celdas de encabezado */
}



/* Estilos para resaltar la tabla */
.table-highlight {
    border: 2px solid #005204; /* Borde resaltado */
    border-radius: 5px; /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(6, 70, 0, 0.459); /* Sombra suave */
    transition: border-color 0.3s ease, box-shadow 0.3s ease; /* Transiciones suaves */
}

/* Estilos adicionales para mejorar la apariencia */
.table-highlight th,
.table-highlight td {
    padding: 8px; /* Espaciado interno */
}

.table-highlight tr {
    background-color: #1f2330; /* Fondo de las celdas de encabezado */
}

.table-highlight th {
    background-color: #13192b; /* Fondo de las celdas de datos */
}


.table-highlight tr:hover {
    background-color: #14251e; /* Fondo de las celdas de encabezado */
}

.table-highlight th:hover {
    background-color: #1a352a; /* Fondo de las celdas de datos */
}

/* Estilos para el botón activo */
.btn-navigation.active {
    background-color: #003500; /* Color de fondo del botón activo */
    color: #64ff5f; /* Color del texto del botón activo */
    border: 1px solid #64ff5f; /* Borde del botón activo */
}

/* Estilos adicionales para los botones de navegación */
.btn-navigation {
    background-color:transparent;
    margin-right: 0.001px; /* Espacio entre los botones de navegación */
    border: 3px solid #03723b; /* Borde de los botones de navegación */
}

/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    transition: .5s;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 50px;
}


/*** Layout ***/
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px;
    height: 100vh;
    overflow-y: auto;
    background: var(--secondary);
    transition: 0.5s;
    z-index: 999;
    scrollbar-width: thin;
    scrollbar-color: var(--primary) var(--secondary);
}
/* estilo para el modal de la vaina esa */

#modalInformacionAdicional {
    background-color: #00000e49;
    color: #ffffff;
}

/* Estilo para el contenido del modal */
#modalInformacionAdicional .modal-content {
    background-color: #191C24;
    color: #ffffff;
    border-radius: 10px;
}

/* Estilo para el título del modal */
#modalInformacionAdicional .modal-title {
    color: #1ea063;
}

/* Estilo para los botones dentro del modal */
#modalInformacionAdicional .btn-secondary,
#modalInformacionAdicional .btn-primary {
    background-color: #1ea063;
    border-color: #1ea063;
    color: #ffffff;
    transition: background-color 0.3s ease;
}

#modalInformacionAdicional .btn-secondary:hover,
#modalInformacionAdicional .btn-primary:hover {
    background-color: #22a816;
    border-color: #00b309;
    color:#021b00;
}

/* Estilo para el texto dentro del formulario */
#modalInformacionAdicional .form-label {
    color: #1ea063;
}

/* Estilo para los inputs */
#modalInformacionAdicional .form-control {
    background-color: #191C24 ;
    color: #ffffff;
    border-color: #1ea063;
}

/* Estilo para los checkboxes */
#modalInformacionAdicional .form-check-input:checked {
    background-color: #1ea063;
    border-color: #1ea063;
}

/* Estilo para el botón de cerrar modal */
#modalInformacionAdicional .btn-close {
    color: #ffffff;
    background-color: #25c47a;
}

/* Estilo para el cuerpo del modal */
#modalInformacionAdicional .modal-body {
    background-color: #191C24 ;
}

/* Estilo para el pie del modal */
#modalInformacionAdicional .modal-footer {
    background-color: #191C24 ;
    border-top: 1px solid #666666;
}

/* Estilo para los botones del pie del modal */
#modalInformacionAdicional .modal-footer .btn {
    color: #ffffff;
}

/* Estilo para el botón de cerrar en el pie del modal */
#modalInformacionAdicional .modal-footer .btn-secondary {
    background-color: #555555;
    border-color: #555555;
}

/* Estilo para el botón de cerrar en el pie del modal al pasar el mouse */
#modalInformacionAdicional .modal-footer .btn-secondary:hover {
    background-color: #a13e3e;
    border-color: #ff0000;
    color: #490000;
}




/* Estilo específico para WebKit (Chrome, Safari) */
.-webkit-scrollbar {
    width: 8px;
}

.-webkit-scrollbar-thumb {
    background-color: var(--primary);
}

.-webkit-scrollbar-track {
    background-color: var(--secondary);
}

.content {
    margin-left: 250px;
    /* min-height: 100vh; */
    background: var(--dark);
    transition: 0.5s;
}

@media (min-width: 992px) {
    .sidebar {
        margin-left: 0;
    }

    .sidebar.open {
        margin-left: -250px;
    }

    .content {
        width: calc(100% - 250px);
    }

    .content.open {
        width: 100%;
        margin-left: 0;
    }
}

@media (max-width: 991.98px) {
    .sidebar {
        margin-left: -250px;
    }

    .sidebar.open {
        margin-left: 0;
    }

    .content {
        width: 100%;
        margin-left: 0;
    }
}

.img-coop{

    width: 45px; /* Ancho de la imagen */
    height: 45px; /* Altura de la imagen */
    background-image: url(../images/logo-dashboard.png); /* Ruta de la imagen */
    background-size: cover; /* Ajusta el tamaño de la imagen */


}

.me-2{
    margin-bottom: -10px;
}



/*** Navbar ***/
.sidebar .navbar .navbar-nav .nav-link {
    padding: 7px 20px;
    color: var(--light);
    font-weight: 500;
    border-left: 3px solid var(--secondary);
    border-radius: 0 30px 30px 0;
    outline: none;
    height: 60px;
    width: 230px;
}

.sidebar .navbar .navbar-nav .nav-link:hover,
.sidebar .navbar .navbar-nav .nav-link.active {
    color: var(--primary);
    background: var(--dark);
    border-color: var(--primary);
}

.sidebar .navbar .navbar-nav .nav-link i {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: var(--dark);
    border-radius: 40px;
}

.sidebar .navbar .navbar-nav .nav-link:hover i,
.sidebar .navbar .navbar-nav .nav-link.active i {
    background: var(--secondary);
}

.sidebar .navbar .dropdown-toggle::after {
    position: absolute;
    top: 15px;
    right: 15px;
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    transition: .5s;
}

.sidebar .navbar .dropdown-toggle[aria-expanded=true]::after {
    transform: rotate(-180deg);
}

.sidebar .navbar .dropdown-item {
    padding-left: 25px;
    border-radius: 0 30px 30px 0;
    color: var(--light);
}

.sidebar .navbar .dropdown-item:hover,
.sidebar .navbar .dropdown-item.active {
    background: var(--dark);
}

.content .navbar .navbar-nav .nav-link {
    margin-left: 25px;
    padding: 12px 0;
    color: var(--light);
    outline: none;
}

.content .navbar .navbar-nav .nav-link:hover,
.content .navbar .navbar-nav .nav-link.active {
    color: var(--primary);
}

.content .navbar .sidebar-toggler,
.content .navbar .navbar-nav .nav-link i {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: var(--dark);
    border-radius: 40px;
}

.content .navbar .dropdown-item {
    color: var(--light);
}

.content .navbar .dropdown-item:hover,
.content .navbar .dropdown-item.active {
    background: var(--dark);
}

.content .navbar .dropdown-toggle::after {
    margin-left: 6px;
    vertical-align: middle;
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    transition: .5s;
}

.content .navbar .dropdown-toggle[aria-expanded=true]::after {
    transform: rotate(-180deg);
}

@media (max-width: 575.98px) {
    .content .navbar .navbar-nav .nav-link {
        margin-left: 15px;
    }
}


/*** Date Picker ***/
.bootstrap-datetimepicker-widget.bottom {
    top: auto !important;
}

.bootstrap-datetimepicker-widget .table * {
    border-bottom-width: 0px;
}

.bootstrap-datetimepicker-widget .table th {
    font-weight: 500;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
    padding: 10px;
    border-radius: 2px;
}

.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover {
    background: var(--primary);
}

.bootstrap-datetimepicker-widget table td.today::before {
    border-bottom-color: var(--primary);
}


/*** Testimonial ***/
.progress .progress-bar {
    width: 0px;
    transition: 2s;
}


/*** Testimonial ***/
.testimonial-carousel .owl-dots {
    margin-top: 24px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    border: 5px solid var(--primary);
    border-radius: 15px;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    background: var(--dark);
    border-color: var(--primary);
}

select{
    background-color: #003f3a;
    color: #00ff22;
    border-color: rgb(0, 151, 81);
}

.dataTables_wrapper .dataTables_paginate {
    float: right;
    text-align: right;
    padding-top: 0.25em;
  }
  .dataTables_wrapper .dataTables_paginate .paginate_button {
    box-sizing: border-box;
    display: inline-block;
    min-width: 1.5em;
    padding: 0.5em 1em;
    margin-left: 2px;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;
    color: #00dd55 !important;
    border: 1px solid transparent;
  }
  .dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #acffb5 !important ;
    background-color: rgb(29, 143, 76);
    border-radius: 22px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(29, 143, 76)), color-stop(100%, rgb(10, 94, 87)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgb(29, 143, 76) 0%, rgb(10, 94, 87) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -moz-linear-gradient(top, rgb(29, 143, 76) 0%, rgb(10, 94, 87) 100%);
    /* FF3.6+ */
    background: -ms-linear-gradient(top, rgb(29, 143, 76) 0%, rgb(10, 94, 87) 100%);
    /* IE10+ */
    background: -o-linear-gradient(top, rgb(29, 143, 76) 0%, rgb(10, 94, 87) 100%);
    /* Opera 11.10+ */
    background: linear-gradient(to bottom, rgb(29, 143, 76) 0%, rgb(10, 94, 87) 100%);
    /* W3C */
  }
  .dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    cursor: default;
    color: #1d8844 !important;
    border: 1px solid transparent;
    background: transparent;
    box-shadow: none;
  }

  .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    color: rgb(0, 31, 2) !important;
    border: 1px solid rgb(3, 122, 39);
    background-color: rgb(157, 255, 206);
    border-radius: 22px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(0, 252, 113)), color-stop(100%, rgb(17, 102, 91)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgb(0, 252, 113) 0%, rgb(17, 102, 91) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -moz-linear-gradient(top, rgb(0, 252, 113) 0%, rgb(17, 102, 91) 100%);
    /* FF3.6+ */
    background: -ms-linear-gradient(top, rgb(0, 252, 113) 0%, rgb(17, 102, 91) 100%);
    /* IE10+ */
    background: -o-linear-gradient(top, rgb(0, 252, 113) 0%, rgb(17, 102, 91) 100%);
    /* Opera 11.10+ */
    background: linear-gradient(to bottom, rgb(0, 252, 113) 0%, rgb(17, 102, 91) 100%);
    /* W3C */
  }
  .dataTables_wrapper .dataTables_paginate .paginate_button:active {
    outline: none;
    color:#00ff22 !important;
    background-color: #004552;
    border-radius: 22px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,  rgb(51, 204, 145)), color-stop(100%, rgb(16, 121, 89)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgb(51, 204, 145) 0%, rgb(16, 121, 89) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -moz-linear-gradient(top, rgb(51, 204, 145) 0%, rgb(16, 121, 89) 100%);
    /* FF3.6+ */
    background: -ms-linear-gradient(top, rgb(51, 204, 145) 0%, rgb(16, 121, 89) 100%);
    /* IE10+ */
    background: -o-linear-gradient(top, rgb(51, 204, 145) 0%, rgb(16, 121, 89) 100%);
    /* Opera 11.10+ */
    background: linear-gradient(to bottom, rgb(51, 204, 145) 0%, rgb(16, 121, 89) 100%);
    /* W3C */
    box-shadow: inset 0 0 3px #111;
  }
