html {
  background: repeating-linear-gradient(45deg, #00ff1a 0, #67dd72 10%, transparent 0, transparent 50%);
  background-size: 12em 12em;
  background-color: #0a0b14;
  opacity: 1;
}

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  min-height: 100vh;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  color: #44cd83;
}

.form-container {
  width: 90%; /* Cambiado para adaptarse a pantallas pequeñas */
  max-width: 400px; /* Limita el ancho máximo para una mejor legibilidad */
  padding: 40px;
  background: rgba(0, 14, 6, 0.990);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(9, 255, 0, 0.336);
  border-radius: 10px;
}

.form-container input {
  width: 100%;
  padding: 15px 5px;
  font-size: 16px;
  color: #9cff7e;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1.5px solid #83ff78;
  outline: none;
  background: transparent;

}


.form-container input::placeholder {
  color: #9cff7e;
}



.form-container input {
  border-bottom: 1.5px solid #1b961b;
  color: #6cfa8b;
 ;
}



.form-container input:hover, .form-container input:focus {
  border-bottom: 1.5px solid #1b961b;
  color: #6cfa8b;
  box-shadow: 0 0 20px 0 rgba(1, 80, 31, 0.5) inset;

}

.form-container label {
  color: #fff;
  font-size: 16px;
}

i.bx {
  font-size: 20px;
  color: #44cd83;
}

p {
  color: #fff;
  font-size: 16px;
  text-align: center;
}

a {
  color: #44cd83;
  text-decoration: none;
}

a:hover {
  color: #1eff00;
  text-decoration: underline;

}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

form p {
  text-align: center;
  margin-top: 10px;
}

input, button {
  border-radius: 4px;
  border: unset;
  padding: 15px 20px;
  font-size: 16px;
}

button {
  background-color: #036630;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: #1eff00;
  color: #036630;
  animation: btn-start 1.5s;
  animation-iteration-count: infinite;
}

@keyframes btn-start {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-4deg);
  }
  20% {
    transform: rotateZ(4deg);
  }
  25% {
    transform: rotateZ(-4deg);
  }
  30% {
    transform: rotateZ(2deg);
  }
  35% {
    transform: rotateZ(-2deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }

}

button:active {
  background-color: #2fc402;
  color: #80ffb5;
}

.error {
  color: rgb(255, 81, 81);
  text-align: center;
}

.escondido {
  display: none;
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.file-label {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.file-name {
  display: none;
}

.bx {
  font-size: 30px;
  cursor: pointer;
}

.boton-volver {
  padding: 15px 20px;
}

/* Pantallas pequeñas (hasta 768px) */
@media screen and (max-width: 768px) {
  .form-container {
    padding: 20px;
  }

  input, button {
    padding: 10px 15px;
    font-size: 14px;
  }
}
