html {
  background: repeating-linear-gradient(45deg, #00aaaa 0, #00f7ff 5%, transparent 0, transparent 50%);
  background-size: 12em 12em;
  background-color: #037d8d;
  opacity: 1;
}

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  min-height: 100vh;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #44cdc2;
  font-size: 30px;
}

h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #44cdc2;
  font-size: 30px;
  margin-top: 8px;
  margin-bottom: 20px;
}

.form-container {
  width: 95%; /* Cambiado para adaptarse a pantallas pequeñas */
  max-width: 600px; /* Limita el ancho máximo para una mejor legibilidad */

  padding: 40px;
  background: rgba(0, 14, 6, 0.990);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 217, 255, 0.404);
  border-radius: 10px;
}

.registro {
  width: 450%; /* Cambiado para adaptarse a pantallas pequeñas */
  max-width: 850px; /* Limita el ancho máximo para una mejor legibilidad */
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 40px;
  background: rgba(0, 14, 6, 0.990);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 255, 179, 0.336);
  border-radius: 10px;

}

.formulario-registro {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.columna {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Estilos para los botones */
.botones {
  grid-column: 3 span;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  align-items: end;
  margin-top: 0;
  width: 100%;
  height: auto;
  align-content: center;
  justify-items: center;
}

.botones .file-container {
  grid-column: span 3; /* Ajusta el tamaño del contenedor del botón de documento */
  display: flex;
  justify-content: center; /* Centra horizontalmente el botón de documento */
  align-items: center; /* Centra verticalmente el botón de documento */
  margin-bottom: 10px; /* Añade un pequeño margen inferior */
  padding: 15px 25px;
}

.botones .boton-volver {
  padding: 15px 20px;
  margin: 2px;

}


.botones button {
  padding: 15px 20px;
  width: 220px;
  height: 50px;
  background-color: #032666;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


.form-container input {
  width: 100%;
  padding: 15px 5px;
  font-size: 16px;
  color: #49c4b3;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1.5px solid #83ff78;
  outline: none;
  background: transparent;

}


.form-container input::placeholder {
  color: #f8fcff;
}



.form-container input {
  border-bottom: 1.5px solid #33aeff;
  color: #f5fdff;
 ;
}



.form-container input:hover, .form-container input:focus {
  border-bottom: 1.5px solid #1b5f96;
  color: #81dbff;
  box-shadow: 0 0 20px 0 rgba(1, 68, 80, 0.5) inset;

}

.form-container label {
  font-size: 16px;
}

i.bx {
  font-size: 20px;
  color: #44a2cd;
}

p {
  color: #fff;
  font-size: 16px;
  text-align: center;
}

a {
  color: #449bcd;
  text-decoration: none;
}

a:hover {
  color: #00e1ff;
  text-decoration: underline;

}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

form p {
  text-align: center;
  margin-top: 10px;
}

input, button {
  border-radius: 4px;
  border: unset;
  padding: 15px 20px;
  font-size: 16px;
}
/* Estilos para campos autocompletados en Chrome/Safari */
.form-container input:-webkit-autofill,
.form-container input:-webkit-autofill:hover, 
.form-container input:-webkit-autofill:focus,
.form-container textarea:-webkit-autofill,
.form-container textarea:-webkit-autofill:hover,
.form-container textarea:-webkit-autofill:focus,
.form-container select:-webkit-autofill,
.form-container select:-webkit-autofill:hover,
.form-container select:-webkit-autofill:focus {
    -webkit-text-fill-color: #6cc1fa !important; /* Color del texto */
    transition: background-color 5000s ease-in-out 0s; /* Transición de color de fondo */
}

/* Estilos para campos autocompletados en Firefox */
.form-container input:-moz-placeholder,
.form-container textarea:-moz-placeholder,
.form-container select:-moz-placeholder {
    color: #6cc1fa !important; /* Color del texto */
    opacity: 1 !important; /* Opacidad del texto */
}

button {
  background-color: #034766;
  color: rgb(255, 255, 255);
  font-weight: bold;
  cursor: pointer;

}

button:hover {
  background-color: #63c6ff;
  color: #004455;
  animation: btn-start 1.5s;
  animation-iteration-count: infinite;
}

@keyframes btn-start {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-4deg);
  }
  20% {
    transform: rotateZ(4deg);
  }
  25% {
    transform: rotateZ(-4deg);
  }
  30% {
    transform: rotateZ(2deg);
  }
  35% {
    transform: rotateZ(-2deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }

}

button:active {
  background-color: #023fc4;
  color: #80f0ff;
}

.error {
  color: rgb(255, 81, 81);
  text-align: center;
}

.escondido {
  display: none;
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}


.file-label {
  background-color: #00a2ff;
  color: #001741;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  padding: 15px 30px;
  width: 350px;
  height: auto;
  transition: background-color 0.3s ease, transform 0.2s ease; /* Agregamos transiciones */
}

/* Efecto al pasar el cursor sobre el botón */
.file-label:hover {
  background-color: #085683; /* Cambiamos el color de fondo */
  color: #45fff6;
  transform: translateY(-3px); /* Movemos ligeramente hacia arriba */
}

.file-label:hover {
  background-color: #4fd6ff;
  color:#000741
}

.file-label:active {
  background-color: #0adaff;
  color: #86a0ff;
}

.file-name {
  display: none;
  color: #000741;
  font-size: 16px;
}

.password-container {
  position: relative;
}

.password-container i.bx {
  position: absolute;
  top: 40%;
  right: 10px; /* Ajusta la posición del icono */
  transform: translateY(-50%);
  cursor: pointer;
}


.bx {
  font-size: 30px;
  cursor: pointer;
}


.boton-volver{
  padding: 15px 20px;
}

/* Ajustes para las columnas en pantallas pequeñas */
@media screen and (max-width: 768px) {
  .formulario-registro {
   grid-template-columns: 1fr; /* Cambia a una sola columna en pantallas pequeñas */
  }

  .registro{
    width: 600px;
    max-width: 600%;

  }

  .columna {
    grid-column: span 3; /* Ocupa todas las columnas en pantallas pequeñas */
}
  
    .columna .file-container {
      grid-column: span 3; /* Ocupa todas las columnas en pantallas pequeñas */
    }

  .columna .file-container .file-label {
    width: 100%; /* Ajusta el ancho del botón de documento al 100% del contenedor */
  }

}

  /* ----- -----  Estilos para Validacion ----- ----- */
  .formulario__validacion-estado {
    font-size: 14px;
    margin-bottom: 10px;
    color: #00ff95;
}

.formulario__validacion-estado {
  font-size: 14px;
  margin-bottom: 10px;
}

.fa-check-circle {
  color: #00ff95; /* Color verde para el icono de validación correcta */
}

.fa-times-circle {
  color: #ff0000; /* Color rojo para el icono de validación incorrecta */
}


.formulario__validacion-estado.fa-check-circle {
    display: inline; /* Muestra el icono de validación cuando se cumple la validación */
}

.formulario__validacion-estado.fa-times-circle {
    display: none; /* Oculta el icono de validación por defecto */
}

.formulario__grupo-correcto .formulario__validacion-estado {
  color: #1ed12d;
  opacity: 1;
}
    
.formulario__grupo-incorrecto .formulario__label {
   color: #bb2929;
}
    
.formulario__grupo-incorrecto .formulario__validacion-estado {
  color: #bb2929;
  opacity: 1;
}
    
.formulario__grupo-incorrecto .formulario__input {
  border: 3px solid #bb2929;
 }
    
 /* Añade los estilos para la lista de requisitos de contraseña */

 
.requisitos-contrasena {
  color: #ff5050;
  font-size: 14px;
  margin-top: 5px;
}

/* Estilos para la validación en tiempo real */
.formulario__grupo-incorrecto input {
  border-bottom-color: #ff5050; /* Cambia el color del borde al fallar la validación */
  background-color: rgba(255, 0, 0, 0.103);
}

.formulario__grupo-incorrecto .formulario__validacion-estado.fa-times-circle {
  display: inline; /* Muestra el icono de validación incorrecta */
}

.formulario__grupo-incorrecto .formulario__validacion-estado.fa-check-circle {
  display: none; /* Oculta el icono de validación correcta */
}

/* Ajustes para los botones en pantallas pequeñas */
@media screen and (max-width: 768px) {
  .botones {
    grid-column: 1 / span 3; /* Ocupa todas las columnas en pantallas pequeñas */
    grid-template-columns: 1fr; /* Cambia a una sola columna en pantallas pequeñas */
    gap: 10px; /* Añade un espacio entre los botones */
    align-items: center; /* Centra verticalmente los botones */
  }

  .botones .boton-volver {
    margin-top: 10px; /* Ajusta el margen del botón "Volver" en pantallas pequeñas */
  }

  .botones button {
    width: 100%; /* Ajusta el ancho de los botones al 100% del contenedor */
  }
}

/* Ajustes adicionales para pantallas muy pequeñas (opcional) */
@media screen and (max-width: 480px) {
  .form-container {
    padding: 15px; /* Reduce el padding en pantallas muy pequeñas */
    width: auto;
  }

  .file-label {
    width: 80% ; /* Ajusta el ancho del botón de documento al 100% del contenedor */
  }
  .botones button {
    padding: 10px 15px; /* Reduce el padding de los botones en pantallas muy pequeñas */
    font-size: 14px; /* Reduce el tamaño de la fuente de los botones en pantallas muy pequeñas */
  }
}